@font-face {
    font-family: "font8b43cd66";
    src: url("mini.eot"); /* IE9 */
    src: url("mini.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("mini.woff") format("woff"), /* chrome, firefox */
    url("mini.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("mini.svg#font8b43cd66") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


